body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  text-align: center;
  color: white;
}

.container {
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}
.hidden {
  display: none;
}

#message {
  display: block;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}
